Repository ansys/actions, pull requests merged in 2022-11, with the labels that each got.

#28 Feat/add build c ext module
  build-ci-wheels/action.yml
Labels: enhancement

#30 FIX: parsing tag version
  doc-deploy-stable/action.yml
Labels: bug

#29 Change ``if`` and ``and`` condition in ci build wheel actions.
  build-ci-wheels/action.yml
Labels: bug

#16 DOC: document actions
  .flake8
  .github/workflows/ci_cd.yml
  .gitignore
  .pre-commit-config.yaml
  README.rst
  build-ci-wheels/action.yml
  build-library/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-deploy-stable/action.yml
  doc/.vale.ini
  doc/Makefile
  doc/make.bat
  doc/source/_static/.gitkeep
  doc/source/build-actions/index.rst
  doc/source/conf.py
  doc/source/doc-actions/index.rst
  doc/source/index.rst
  doc/source/release-actions/index.rst
  doc/source/style-actions/index.rst
  doc/styles/.gitignore
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
  requirements/requirements_doc.txt
Labels: documentation, maintenance

#39 FEAT: modularize PyPI publishing actions
  _release-pypi/action.yml
  doc/source/conf.py
  doc/source/release-actions/index.rst
  release-public/action.yml
  release-pypi-private/action.yml
  release-pypi-public/action.yml
  release-pypi-test/action.yml
Labels: enhancement

#43 Update comments for the release actions.
  release-pypi-public/action.yml
  release-pypi-test/action.yml
Labels: enhancement

#46 FIX: typo in Build library action documentation
  doc/source/build-actions/index.rst
Labels: bug, documentation, maintenance

#42 FEAT: add tests-pytest action
  doc-build/action.yml
  doc/source/conf.py
  doc/source/index.rst
  doc/source/tests-actions/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  tests-pytest/action.yml
Labels: enhancement

#47 FEAT: test action scripts using testing actions
  .github/workflows/ci_cd.yml
  doc-deploy-stable/action.yml
  doc/source/conf.py
  doc/source/style-actions/index.rst
  requirements/requirements_tests.txt
  scripts/version-mapper.py
  scripts/version_mapper.py
  tests/tests_scripts/conftest.py
  tests/tests_scripts/release/versions.json
  tests/tests_scripts/test_version_mapper.py
Labels: enhancement, maintenance

#48 FEAT: wheelhouse action
  build-wheelhouse/action.yml
  doc/source/build-actions/index.rst
  doc/source/conf.py
  doc/source/tests-actions/index.rst
Labels: enhancement

#58 FEAT: add private _setup-python action and force cache usage
  _release-pypi/action.yml
  _setup-python/action.yml
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-deploy-stable/action.yml
  tests-pytest/action.yml
Labels: enhancement

#62 FEAT: Deploy documentation to a specific repository
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc-deploy-to-repo/action.yml
  doc/source/conf.py
  doc/source/doc-actions/index.rst
Labels: enhancement, maintenance

#61 FIX: allow Python cache selection in actions
  .github/workflows/ci_cd.yml
  _release-pypi/action.yml
  _setup-python/action.yml
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-deploy-stable/action.yml
  release-pypi-public/action.yml
  release-pypi-test/action.yml
  tests-pytest/action.yml
Labels: bug, maintenance

#64 FIX: secrets usage in doc-deploy-to-repo
  .github/workflows/ci_cd.yml
  doc-deploy-to-repo/action.yml
Labels: bug, maintenance

#65 DOC: Missing docs for doc-deploy-to-repo action
  doc/source/doc-actions/index.rst
Labels: bug

#66 DOC: fix descriptions and typos
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  doc-deploy-to-repo/action.yml
  doc-style/action.yml
  doc/source/tests-actions/index.rst
  release-github/action.yml
  release-pypi-private/action.yml
  release-pypi-public/action.yml
  release-pypi-test/action.yml
  tests-pytest/action.yml
Labels: documentation

#60 FEAT: publish all artifacts during GitHub release
  .github/workflows/ci_cd.yml
  release-github/action.yml
Labels: enhancement, maintenance

#67 MAINT: update development version
  VERSION
  tests/pyansys-actions/pyproject.toml
Labels: maintenance

#69 FIX: do not use cache in doc-deploy-stable
  doc-deploy-stable/action.yml
Labels: bug

#70 FIX: caching Python actions
  _release-pypi/action.yml
Labels: bug

#71 CI: update to new action inputs
  .github/workflows/ci_cd.yml
Labels: maintenance

#72 Update zip action to v1.1
  .github/workflows/ci_cd.yml
  build-wheelhouse/action.yml
  release-github/action.yml
Labels: maintenance

#75 Accepting additional targets in wheel build
  build-wheelhouse/action.yml
Labels: enhancement

#78 Solving conditionals and actions versions in examples
  doc/source/doc-actions/index.rst
  doc/source/release-actions/index.rst
Labels: documentation

#81 Implement usage of awalsh128/cache-apt-pkgs-action
  doc-build/action.yml
Labels: enhancement

#84 FEAT: enable outdated versions announcement logic
  scripts/version_mapper.py
  tests/tests_scripts/release/announcement.html
  tests/tests_scripts/test_version_mapper.py
Labels: documentation

#87 Rename namespace for argument
  .gitignore
  scripts/version_mapper.py
Labels: bug

#88 FIX: ignore missing announcement.html
  scripts/version_mapper.py
Labels: bug

#89 DBG: debugging announcement creation
  scripts/version_mapper.py
Labels: bug

#91 Correct the name of the parameter 'announcement_filename' in the docstring.
  scripts/version_mapper.py
Labels: documentation

#86 DBG: check licenses
  .github/workflows/ci_cd.yml
  check-licenses/accepted-licenses.txt
  check-licenses/action.yml
  check-licenses/ignored-packages.txt
  doc/source/conf.py
  doc/source/index.rst
  doc/source/licenses-actions/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: enhancement, maintenance

#92 FIX: recursively add announcement.html to the different folders
  scripts/version_mapper.py
Labels: bug

#94 FIX: recursively add announcement.html
  scripts/version_mapper.py
Labels: bug

#95 FIX: do not ignore base release folders
  scripts/version_mapper.py
Labels: bug

#97 FEAT: do not required an announcement template
  scripts/version_mapper.py
  tests/tests_scripts/test_version_mapper.py
Labels: enhancement

#100 Add an input for the render last version for multiple documentation in workflow
  doc-deploy-stable/action.yml
Labels: enhancement
