Repository ansys/actions, pull requests merged in 2022-12, with the labels that each got.

#106 CI: enable pip ecosystem in dependabot
  .github/dependabot.yml
  requirements/requirements_doc.txt
Labels: maintenance

#108 MAINT: update cname and versions.json content
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Labels: maintenance

#104 Modify index page
  .pre-commit-config.yaml
  README.rst
  build-wheelhouse/action.yml
  doc/source/build-actions/index.rst
  doc/source/conf.py
  doc/source/doc-actions/index.rst
  doc/source/index.rst
  requirements/requirements_doc.txt
  scripts/version_mapper.py
Labels: documentation, maintenance

#109 DOC: add more examples and automate their rendering
  .flake8
  .gitignore
  doc-style/action.yml
  doc/Makefile
  doc/source/build-actions/examples/build-ci-wheels-basic.yml
  doc/source/build-actions/examples/build-library-basic.yml
  doc/source/build-actions/examples/build-wheelhouse-basic.yml
  doc/source/build-actions/index.rst
  doc/source/conf.py
  doc/source/doc-actions/examples/doc-build-basic.yml
  doc/source/doc-actions/examples/doc-build-dependencies.yml
  doc/source/doc-actions/examples/doc-build-xvfb.yml
  doc/source/doc-actions/examples/doc-deploy-dev-basic.yml
  doc/source/doc-actions/examples/doc-deploy-stable-basic.yml
  doc/source/doc-actions/examples/doc-deploy-to-repo-basic.yml
  doc/source/doc-actions/index.rst
  doc/source/licenses-actions/examples/check-licenses-basic.yml
  doc/source/licenses-actions/index.rst
  doc/source/release-actions/examples/release-github-basic.yml
  doc/source/release-actions/examples/release-pypi-private-basic.yml
  doc/source/release-actions/examples/release-pypi-public-basic.yml
  doc/source/release-actions/examples/release-pypi-test-basic.yml
  doc/source/release-actions/index.rst
  doc/source/style-actions/examples/code-style-basic.yml
  doc/source/style-actions/examples/doc-style-basic.yml
  doc/source/style-actions/index.rst
  doc/source/tests-actions/examples/tests-pytest-basic.yml
  doc/source/tests-actions/examples/tests-pytest-optimized.yml
  doc/source/tests-actions/index.rst
  requirements/requirements_doc.txt
Labels: documentation

#112 FIX: curl scripts from right branch
  doc-deploy-stable/action.yml
Labels: bug

#118 FIX: clear gh-pages branch before pushing
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  doc/styles/Vocab/ANSYS/accept.txt
Labels: bug

#121 Allowing download artifacts from other workflows
  doc-deploy-dev/action.yml
Labels: enhancement
