Repository ansys/actions, pull requests merged in 2023-04, with the labels that each got.

#215 Doc: fix the broken links.
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: bug

#209 FEAT: Add PR title name checker and branch name checker
  check-branch-name/action.yml
  check-pr-conventional-name/action.yml
  doc/source/conf.py
  doc/source/index.rst
  doc/source/other-actions/examples/check-branch-name-basic.yml
  doc/source/other-actions/examples/check-pr-conventional-name-basic.yml
  doc/source/other-actions/index.rst
Labels: enhancement

#222 Minor documentation fixes
  .pre-commit-config.yaml
  _logging/action.yml
  _release-pypi/action.yml
  _setup-python/action.yml
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  check-branch-name/action.yml
  check-licenses/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  doc/make.bat
  doc/source/build-actions/index.rst
  doc/source/conf.py
  doc/source/doc-actions/index.rst
  doc/source/housekeeping-actions/index.rst
  doc/source/index.rst
  doc/source/licenses-actions/index.rst
  doc/source/other-actions/index.rst
  doc/source/release-actions/index.rst
  doc/source/style-actions/index.rst
  doc/source/tests-actions/index.rst
  hk-package-clean-except/action.yml
  hk-package-clean-untagged/action.yml
  release-github/action.yml
  release-pypi-private/action.yml
  release-pypi-public/action.yml
  release-pypi-test/action.yml
  requirements/requirements_doc.txt
  tests-pytest/action.yml
Labels: documentation, maintenance

#228 FIX: syntax for branch-name-style action
  branch-name-style/action.yml
Labels: bug

#235 FIX: update apt-get
  doc-build/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  tests-pytest/action.yml
Labels: bug

#240 fix: execute commit-style only on PRs
  commit-style/action.yml
Labels: bug

#241 chore: force dependabot to follow commit style
  .github/dependabot.yml
Labels: maintenance

#245 fix: typo for token description.
  doc-deploy-dev/action.yml
Labels: documentation

#243 feat: add generate sitemap action
  _doc-gen-sitemap/action.yml
  doc-deploy-stable/action.yml
Labels: enhancement
