Repository ansys/actions, pull requests merged in 2023-08, with the labels that each got.

#311 fix: accept PSF packages (typing_extensions and pywin32)
  check-licenses/action.yml
  check-licenses/ignored-packages.txt
Labels: bug

#312 fix: remove the use of bc
  build-wheelhouse/action.yml
Labels: bug

#313 feat: add reuse and order ignored packages
  check-licenses/ignored-packages.txt
Labels: bug

#314 fix: add actions index options and adapt actions for pymeilisearch
  .github/workflows/ci_cd.yml
  doc-deploy-index/action.yml
  doc/source/conf.py
Labels: bug, maintenance

#315 feat: solve issues with env var for org level
  .github/workflows/ci_cd.yml
Labels: enhancement, maintenance

#316 fix: index the documentation for pymeilisearch
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  requirements/requirements_doc.txt
Labels: bug, maintenance

#317 docs: typo in docstring
  doc-build/action.yml
Labels: documentation

#320 fix: doc-deploy-index in CI/CD
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#321 feat: adding ansys corba to ignored licenses
  check-licenses/ignored-packages.txt
Labels: enhancement, maintenance

#322 fix: tag trigger in workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

#323 fix: add additional options to pymeilisearch
  doc-deploy-index/action.yml
Labels: maintenance

#328 fix: run linkcheck on xvfb-run for doc-build action
  doc-build/action.yml
Labels: bug

#329 fix: doc version page generator
  _doc-gen-versions-page/action.yml
Labels: bug

#330 feat: adding a new vulnerability detection action
  check-vulnerabilities/action.yml
  doc/source/index.rst
  doc/source/vulnerability-actions/examples/check-vulnerabilities-basic.yml
  doc/source/vulnerability-actions/examples/check-vulnerabilities-dev-mode.yml
  doc/source/vulnerability-actions/index.rst
Labels: enhancement

#332 fix: minor issues with action
  check-vulnerabilities/action.yml
  doc/source/index.rst
Labels: bug

#333 feat: add ignored vulnerabilites usage
  check-vulnerabilities/action.yml
  check-vulnerabilities/ignored-safety.txt
  doc/source/conf.py
  doc/source/index.rst
Labels: enhancement
