Repository ansys/actions, pull requests merged in 2023-01, with the labels that each got.

#124 Making checkout optional
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  check-licenses/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  doc-deploy-to-repo/action.yml
  doc-style/action.yml
  tests-pytest/action.yml
Labels: enhancement

#125 Fixing checkout option
  README.rst
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  check-licenses/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  doc-deploy-to-repo/action.yml
  doc-style/action.yml
  tests-pytest/action.yml
Labels: bug

#129 FIX: Remove name input argument - not being used
  doc-deploy-dev/action.yml
Labels: bug

#131 Removing defaults for download action arguments
  doc-deploy-dev/action.yml
Labels: bug

#132 FIX: missing input parameter
  doc-deploy-dev/action.yml
Labels: bug

#133 VER: release 4.0.dev0
  VERSION
  tests/pyansys-actions/pyproject.toml
Labels: maintenance

#144 FIX: indicate whether to compress/decompress artifacts
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: bug

#146 Skip json build for docs build.
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  check-licenses/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-deploy-stable/action.yml
  doc-deploy-to-repo/action.yml
  doc-style/action.yml
  tests-pytest/action.yml
Labels: maintenance

#147 FIX: shell script syntax
  doc-build/action.yml
Labels: bug

#149 FEAT: use ouch for artifact decompression
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: enhancement

#152 Add a `/` at the end of every URL
  scripts/version_mapper.py
  tests/tests_scripts/test_version_mapper.py
Labels: maintenance

#150 FIX: download artifacts from desired workflow
  .pre-commit-config.yaml
  doc-deploy-dev/action.yml
Labels: bug, maintenance

#160 FIX: allow the usage of actions/download-artifact again
  doc-deploy-dev/action.yml
Labels: bug
