Repository ansys/actions, pull requests merged in 2023-02, with the labels that each got.

#167 Wheels should be uploaded - error in naming
  release-github/action.yml
Labels: bug

#165 Package cleaning actions
  doc/source/conf.py
  doc/source/housekeeping-actions/examples/hk-package-clean-except-basic.yml
  doc/source/housekeeping-actions/examples/hk-package-clean-untagged-basic.yml
  doc/source/housekeeping-actions/index.rst
  doc/source/index.rst
  hk-package-clean-except/action.yml
  hk-package-clean-untagged/action.yml
Labels: enhancement

#168 FEAT: use datetime to compute copyright in doc
  LICENSE
  doc/source/conf.py
  tests/pyansys-actions/LICENSE
Labels: enhancement

#163 FIX: multi-version documentation layout
  .ci/pyansys-actions/LICENSE
  .ci/pyansys-actions/README.rst
  .ci/pyansys-actions/pyproject.toml
  .ci/pyansys-actions/src/ansys/actions/core/__init__.py
  .github/workflows/ci_cd.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  scripts/redirect.html
  scripts/version_mapper.py
  tests/tests_scripts/conftest.py
  tests/tests_scripts/release/announcement.html
  tests/tests_scripts/release/versions.json
  tests/tests_scripts/test_version_mapper.py
Labels: bug, maintenance

#172 FIX: link to 'verions.json' file
  doc/source/conf.py
Labels: bug

#173 CI: improve pipelines
  .github/workflows/ci_cd.yml
Labels: maintenance

#176 MAINT: remove doc-deploy-to-repo action
  doc-deploy-to-repo/action.yml
  doc/source/doc-actions/examples/doc-deploy-to-repo-basic.yml
  doc/source/doc-actions/index.rst
  doc/source/index.rst
Labels: maintenance

#179 MAINT: update doc dependencies
  .github/dependabot.yml
  doc/source/conf.py
  requirements/requirements_doc.txt
Labels: maintenance

#182 MAINT: no longer required requirements_tests.txt
  requirements/requirements_tests.txt
Labels: maintenance

#184 CI: verify private actions do not point to main when releasing
  .github/workflows/ci_cd.yml
Labels: maintenance

#185 MAINT: update ansys-sphinx-theme==0.9.2
  requirements/requirements_doc.txt
Labels: maintenance

#183 FEAT: add logging action
  _logging/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: enhancement

#186 FEAT: allow additional artifacts and dry-runs for critical workflows
  _release-pypi/action.yml
  release-github/action.yml
  release-pypi-private/action.yml
  release-pypi-public/action.yml
  release-pypi-test/action.yml
Labels: enhancement

#189 Allowing last N-Days on hk-package actions
  hk-package-clean-except/action.yml
  hk-package-clean-untagged/action.yml
Labels: enhancement

#190 MAINT: update ansys-sphinx-version==0.9.4
  requirements/requirements_doc.txt
Labels: maintenance

#191 DOC: add migration guidelines
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: documentation

#193 VER: release 4.1.dev0
  VERSION
Labels: maintenance

#194 DOC: update to latest multi-version docs
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/conf.py
  requirements/requirements_doc.txt
Labels: documentation, maintenance

#195 FIX : Updates the reference name.
  doc-build/action.yml
  tests-pytest/action.yml
Labels: bug

#197 Typo in the actions description.
  doc-deploy-dev/action.yml
Labels: documentation

#198 FIX: release-github syntax
  release-github/action.yml
Labels: bug

#200 FIX: release-github action
  release-github/action.yml
Labels: bug

#202 Fixing docs publish from release branch
  doc-deploy-stable/action.yml
Labels: bug
