Repository ansys/actions, pull requests merged in 2023-11, with the labels that each got.

#361 chore: bump doc-style vale version (2.29.6)
  doc-style/action.yml
Labels: maintenance

#363 feat: Add requirements file custom path in doc building
  doc-build/action.yml
Labels: enhancement

#364 fix: Add openai to ignored licenses
  check-licenses/ignored-packages.txt
Labels: bug
