Repository ansys/actions, pull requests merged in 2024-11, with the labels that each got.

#627 ci: fix rolling release
  .github/workflows/release.yml
Labels: ci, fix

#624 feat: use the CHANGELOG file in the `release-github` action
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  doc-changelog/action.yml
  doc/source/migrations/index.rst
  doc/source/release-actions/examples/release-github-basic.yml
  python-utils/parse_doc_conf.py
  python-utils/parse_pr_title.py
  python-utils/release_github_utils.py
  release-github/action.yml
Labels: enhancement, docs

#637 fix: modified actions.yml shell commands accordingly
  _doc-gen-sitemap/action.yml
Labels: fix

#643 doc: Migrate README to markdown and use GitHub mermaid
  .ci/ansys-actions/pyproject.toml
  .github/labeler.yml
  CONTRIBUTORS.md
  README.md
  README.rst
  doc/source/_static/ci_cd_main.png
  doc/source/_static/ci_cd_pr.png
  doc/source/_static/ci_cd_release.png
  doc/source/index.rst
Labels: hacktoberfest-accepted

#644 fix: demo library README is still rst
  .ci/ansys-actions/pyproject.toml
Labels: fix

#545 refactor: use vale-action with branch reviewdog20 to leverage fail_level
  doc-style/action.yml
Labels: ci, docs

#647 fix: doc-deploy-changelog error handling
  doc-deploy-changelog/action.yml
Labels: fix

#650 feat: change installation order of deps in check-vulnerabilities action
  check-vulnerabilities/action.yml
Labels: enhancement

#648 feat: skip label step if coming from a forked repository
  .github/workflows/ci_cd.yml
Labels: enhancement, ci
