Repository ansys/actions, pull requests merged in 2024-09, with the labels that each got.

#553 fix: needs-quarto is required parameter
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
Labels: bug

#555 fix: add [dependabot-skip] to doc-changelog commit message
  doc-changelog/action.yml
Labels: bug

#558 fix: use powershell in quarto check (windows)
  _doc-build-windows/action.yml
Labels: bug

#556 chore: add secrets to actions that use the bot
  doc-changelog/action.yml
  doc-deploy-changelog/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  doc/source/doc-actions/examples/doc-changelog-basic.yml
  doc/source/doc-actions/examples/doc-deploy-changelog.yml
  doc/source/doc-actions/examples/doc-deploy-dev-basic.yml
  doc/source/doc-actions/examples/doc-deploy-stable-basic.yml
  doc/source/migrations/index.rst
Labels: maintenance

#563 feat: usage of usd-core has been approved by legal department
  check-licenses/ignored-packages.txt
Labels: enhancement

#564 fix: quarto installation in windows
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  doc-build/action.yml
Labels: bug

#565 ci: fix dependabot glob pattern
  .github/dependabot.yml
Labels: maintenance

#562 feat: add logging warning about bot secrets requirement for v8
  doc-changelog/action.yml
  doc-deploy-changelog/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: enhancement

#567 chore: use trusted publisher in ci_cd
  .ci/ansys-actions/pyproject.toml
  .github/workflows/ci_cd.yml
Labels: maintenance

#569 fix: skip release to PyPI test if version exists
  _release-pypi/action.yml
Labels: bug

#570 ci: fix test to pypi
  .github/workflows/ci_cd.yml
Labels: bug

#572 ci: remove environment from test PyPI
  .github/workflows/ci_cd.yml
Labels: maintenance

#573 fix: relative path to the `search` parameters in landing `index` page
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: bug

#560 refactor: use virtual environment to be consistent
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  check-vulnerabilities/action.yml
  code-style/action.yml
  tests-pytest/action.yml
Labels: bug

#577 docs: compress syntax by using Jinja
  doc/source/_templates/action.rst.jinja
  doc/source/build-actions/index.rst
  doc/source/doc-actions/index.rst
  doc/source/housekeeping-actions/index.rst
  doc/source/licenses-actions/index.rst
  doc/source/release-actions/index.rst
  doc/source/style-actions/index.rst
  doc/source/tests-actions/index.rst
  doc/source/vulnerability-actions/index.rst
Labels: documentation

#578 fix: rename commit-sytle -> check-pr-title
  .github/workflows/ci_cd.yml
  check-pr-title/action.yml
  doc/source/style-actions/examples/check-pr-title-basic.yml
  doc/source/style-actions/examples/commit-style-basic.yml
  doc/source/style-actions/index.rst
Labels: bug

#585 fix: metadata name of check-pr-title action
  check-pr-title/action.yml
Labels: fix

#586 docs: add migration guide for docs deploy index action
  doc/source/migrations/index.rst
Labels: docs
