Repository ansys/actions, pull requests merged in 2024-05, with the labels that each got.

#476 fix: remove unnecessary curly brackets in doc-deploy-changelog docs
  doc/source/migrations/docs-deploy-changelog-setup.rst
Labels: bug

#478 feat: vale ignore towncrier directory
  doc-style/action.yml
  doc/source/style-actions/index.rst
Labels: maintenance

#480 fix: check pyproject.toml file exists before opening it
  .github/workflows/ci_cd.yml
  doc-style/action.yml
Labels: bug

#475 chore: gh-pages does not exist message for doc-deploy-dev
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: maintenance

#484 fix: allow backtick, single, and double quotes for PR titles in the doc-changelog action
  doc-changelog/action.yml
Labels: bug

#487 docs: fix broken link in the documentation
  doc-deploy-stable/action.yml
  doc/source/migrations/index.rst
Labels: documentation

#486 fix: Ensure consistency for Boolean input type.
  code-style/action.yml
  doc-deploy-stable/action.yml
  doc/source/migrations/index.rst
Labels: enhancement

#493 feat: make optional use latest index in landing page
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: enhancement

#494 fix: update doc deploy actions to to correct local search path on landing page
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: bug
