Repository ansys/actions, pull requests merged in 2024-12, with the labels that each got.

#652 feat: new action for automerging dependabot and pre-commit.ci PRs
  check-vulnerabilities/ignored-safety.txt
  doc/source/housekeeping-actions/examples/hk-automerge-prs-basic.yml
  doc/source/housekeeping-actions/index.rst
  hk-automerge-prs/action.yml
Labels: enhancement, docs

#654 fix: use actions/cache@v4
  _doc-build-windows/action.yml
Labels: fix

#660 docs: 'org-name' is not a variable in the code sample provided.
  doc/source/migrations/docs-changelog-setup.rst
Labels: docs
