Repository ansys/actions, pull requests merged in 2024-02, with the labels that each got.

#388 fix: update actions/setup-python@v5
  _setup-python/action.yml
Labels: bug

#382 feat: add dockerfile linting
  code-style/action.yml
  doc/source/style-actions/examples/docker-style-basic.yml
  doc/source/style-actions/index.rst
  docker-style/action.yml
Labels: enhancement

#391 fix: docker directory check
  doc-style/action.yml
  docker-style/action.yml
Labels: bug

#392 docs: Explicitly state that sphinx options from makefile are being overriden
  doc-build/action.yml
Labels: documentation

#393 feat: hide output log
  check-vulnerabilities/action.yml
Labels: enhancement

#396 feat: allow project installation
  code-style/action.yml
Labels: enhancement

#401 feat: add an option to upload the vulnerability reports
  check-vulnerabilities/action.yml
Labels: enhancement

#402 feat: release workflow
  .github/workflows/release.yml
Labels: enhancement

#407 fix: replace broken MIT link
  .ci/ansys-actions/README.rst
  README.rst
Labels: bug

#406 fix: complete HTML file for redirect
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: bug

#411 feat: add deprecation warning
  doc-style/action.yml
Labels: enhancement

#412 docs: adding migration guide
  doc/source/index.rst
  doc/source/migration_guide.rst
  requirements/requirements_doc.txt
Labels: documentation

#414 feat: avoid creating issues on vulnerabilities found (by default)
  check-vulnerabilities/action.yml
  doc/source/migration_guide.rst
Labels: enhancement

#416 feat: add License headers to actions
  .pre-commit-config.yaml
  LICENSE
  _doc-gen-sitemap/action.yml
  _doc-gen-versions-page/action.yml
  _logging/action.yml
  _release-pypi/action.yml
  _setup-python/action.yml
  branch-name-style/action.yml
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  check-licenses/action.yml
  check-vulnerabilities/action.yml
  code-style/action.yml
  commit-style/action.yml
  doc-build/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-index/action.yml
  doc-deploy-stable/action.yml
  doc-style/action.yml
  docker-style/action.yml
  hk-package-clean-except/action.yml
  hk-package-clean-untagged/action.yml
  release-github/action.yml
  release-pypi-private/action.yml
  release-pypi-public/action.yml
  release-pypi-test/action.yml
  tests-pytest/action.yml
Labels: enhancement
