Repository ansys/actions, pull requests merged in 2024-08, with the labels that each got.

#529 feat: doc-changelog allow breaking changes symbol in conventional commit type
  doc-changelog/parse_pr_title.py
Labels: enhancement

#533 fix: changelog actions docs missing
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  _doc-gen-canonical/action.yml
  _doc-gen-robots/action.yml
  _doc-gen-sitemap/action.yml
  _doc-gen-versions-page/action.yml
  _logging/action.yml
  _release-pypi/action.yml
  branch-name-style/action.yml
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  check-licenses/action.yml
  check-vulnerabilities/action.yml
  code-style/action.yml
  commit-style/action.yml
  doc-build/action.yml
  doc-changelog/action.yml
  doc-deploy-changelog/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-index/action.yml
  doc-deploy-stable/action.yml
  doc-style/action.yml
  doc/source/doc-actions/index.rst
  docker-style/action.yml
  release-github/action.yml
  release-pypi-private/action.yml
  release-pypi-public/action.yml
  release-pypi-test/action.yml
  tests-pytest/action.yml
Labels: bug

#536 fix: links redirect to search `js` for the landing page
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: bug

#539 fix: indentation with docs and redirection to dev for static js file in docs deploy action
  check-licenses/action.yml
  doc-build/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  release-pypi-private/action.yml
Labels: bug

#547 fix: use one input to specify the tag the branch was created from in doc-deploy-changelog
  doc-deploy-changelog/action.yml
Labels: bug

#528 feat: add quarto cheat sheet setup to docs build actions
  .github/workflows/ci_cd.yml
  .gitignore
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  doc-build/action.yml
  doc/source/.gitignore
  doc/source/cheat_sheet.jinja
  doc/source/conf.py
  requirements/requirements_doc.txt
Labels: enhancement

#551 chore: move the description in doc-deploy-changelog
  doc-deploy-changelog/action.yml
Labels: maintenance
