Repository ansys/actions, pull requests merged in 2024-06, with the labels that each got.

#497 feat: allow upper case in doc-deploy-changelog
  doc-deploy-changelog/action.yml
Labels: enhancement

#500 feat: update dependabot to new wildcard syntaxt
  .github/dependabot.yml
Labels: enhancement

#499 chore: enhance doc-changelog migration guide
  doc/source/migrations/docs-changelog-setup.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: maintenance

#501 fix: investigate dependabot syntax
  .github/dependabot.yml
Labels: bug

#467 feat: add upload assets to doc-build
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  doc-build/action.yml
  doc-build/parse_doc_conf.py
Labels: enhancement

#503 fix: only zip and upload if asked
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
Labels: bug

#505 fix: ignoring `jinja2` vulnerability ID
  check-vulnerabilities/ignored-safety.txt
Labels: maintenance

#506 docs: adding a warning for `vulnerability_checks` with private repositories
  doc/source/vulnerability-actions/index.rst
Labels: documentation

#507 fix: only compress content inside html folder
  _doc-build-windows/action.yml
Labels: bug

#508 chore: optional targets run at the end
  _doc-build-windows/action.yml
Labels: bug

#509 feat: allow users to indicate files dir
  doc-style/action.yml
Labels: enhancement

#512 fix: peaceiris/actions-gh-pages@v4 version
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: bug

#513 fix: make doc-changelog commit message compliant
  doc-changelog/action.yml
Labels: bug
