Repository ansys/actions, pull requests merged in 2024-03, with the labels that each got.

#408 feat: changelog action & example
  doc-changelog/action.yml
  doc/source/doc-actions/examples/doc-changelog-basic.yml
  doc/source/index.rst
  doc/source/migrations/doc_changelog_setup.rst
  doc/source/migrations/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: enhancement

#423 feat: adapting tests and code-style actions to avoid using venv when called by poetry
  code-style/action.yml
  tests-pytest/action.yml
Labels: enhancement

#426 fix: poetry calls failing
  tests-pytest/action.yml
Labels: bug

#425 feat: new canonical link action
  _doc-gen-canonical/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: enhancement, blocked

#431 fix: code-style description
  code-style/action.yml
Labels: bug

#433 fix: rendering of action description
  docker-style/action.yml
Labels: bug

#434 fix: Typo in ``Robots.txt`` file
  _doc-gen-robots/action.yml
Labels: bug

#435 fix: Incorrect path in doc-changelog instructions
  doc/source/migrations/docs-changelog-setup.rst
Labels: bug
