Repository ansys/actions, pull requests merged in 2024-10, with the labels that each got.

#588 docs: proper titles on README
  README.rst
Labels: docs

#590 fix: `index.rst` and migration guide title
  doc/source/index.rst
  doc/source/migrations/index.rst
Labels: fix, docs

#592 fix(doc): branch-name-sytle action deprecation
  doc/source/migrations/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: fix, docs

#593 feat: verify docs have been generated properly on Windows
  _doc-build-windows/action.yml
Labels: enhancement

#596 fix: solving issues in ``actions/tests-pytest`` action
  tests-pytest/action.yml
Labels: enhancement

#599 feat: Add an input flag to configure diff output in code style checks
  code-style/action.yml
Labels: enhancement

#601 fix: poetry tests runs failing
  tests-pytest/action.yml
Labels: fix

#600 feat: whitelist packages on check-licenses action
  build-wheelhouse/action.yml
  check-licenses/action.yml
Labels: enhancement

#604 fix: standardize venv activation in `actions/code-style`
  check-vulnerabilities/action.yml
  code-style/action.yml
  tests-pytest/action.yml
Labels: fix

#605 fix: pre-commit new release causing breaking changes
  code-style/action.yml
Labels: fix

#606 fix: exit 1 when logging error messages
  _logging/action.yml
  doc-changelog/action.yml
  doc-deploy-changelog/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: fix

#611 fix: redirect for search.json file
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: fix

#613 fix: search file variable names
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: fix

#614 fix: install additional deps on doc-style action for rST support
  doc-style/action.yml
Labels: fix

#615 fix: unreachable link
  doc/source/conf.py
Labels: fix

#620 docs: update ``check-vulnerabilities`` action example
  doc/source/vulnerability-actions/examples/check-vulnerabilities-dev-mode.yml
  doc/source/vulnerability-actions/examples/check-vulnerabilities.yml
Labels: docs

#618 feat: add install target to test-pytest
  tests-pytest/action.yml
Labels: enhancement

#623 fix: check step in _doc-build-windows
  _doc-build-windows/action.yml
Labels: fix

#625 feat: adapt style to UI/UX guidelines and typo
  doc/source/index.rst
Labels: docs

#629 fix: landing page search
  doc-deploy-dev/action.yml
Labels: fix
