Repository ansys/actions, pull requests merged in 2024-04, with the labels that each got.

#437 fix: doc-changelog action infinite loop with pre-commit.ci
  doc-changelog/action.yml
Labels: bug

#439 fix: changelog action backtick in title
  doc-changelog/action.yml
Labels: bug

#444 feat: remove upload to dashboard
  _pyansys-dashboard-vulnerabilities-upload/action.yml
  check-vulnerabilities/action.yml
  doc/source/migrations/index.rst
  doc/source/migrations/pyansys-dashboard-upload.rst
  doc/source/vulnerability-actions/examples/check-vulnerabilities-dashboard.yml
Labels: enhancement

#447 feat: allow upper case in commit-style
  commit-style/action.yml
Labels: enhancement

#451 feat: ignore pre-commit.ci branch name on branch-name-style action
  branch-name-style/action.yml
Labels: enhancement

#452 feat: doc-deploy-changelog action
  doc-changelog/action.yml
  doc-deploy-changelog/action.yml
  doc/source/doc-actions/examples/doc-deploy-changelog.yml
  doc/source/migrations/docs-changelog-setup.rst
  doc/source/migrations/docs-deploy-changelog-setup.rst
  doc/source/migrations/index.rst
Labels: enhancement, release

#453 feat: extend doc-build to be windows compatible
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  doc-build/action.yml
Labels: enhancement

#454 fix: wrong action version in doc-build
  doc-build/action.yml
Labels: bug

#410 chore: Update default vale version `3.4.1`
  doc-style/action.yml
  doc/source/migrations/docs-style-vale-version-update.rst
  doc/source/migrations/index.rst
Labels: release, maintenance

#455 docs: add package phrase replacement example in doc-changelog guide
  doc/source/migrations/docs-changelog-setup.rst
Labels: maintenance

#456 fix: migration doc code block
  doc/source/migrations/docs-style-vale-version-update.rst
Labels: bug

#421 feat: seo improvements
  _doc-gen-canonical/action.yml
  _doc-gen-robots/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  doc/source/migrations/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: enhancement, release, blocked

#457 feat: update to Vale 3
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
Labels: enhancement

#458 fix: regex for fixing links in landing page
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
Labels: bug

#462 fix: order of checkout and Python install has to be reversed
  doc-build/action.yml
Labels: bug

#463 docs: update v6 changes
  commit-style/action.yml
  doc/source/migrations/index.rst
Labels: documentation

#464 docs: Add `code spell` hook changes in vale migration guide
  doc/source/migrations/docs-style-vale-version-update.rst
Labels: documentation

#465 docs: implementing changelog as part of the documentation
  doc/source/migrations/docs-changelog-setup.rst
Labels: documentation

#468 fix: Update the sitemap with ``.html`` suffix to entries
  _doc-gen-sitemap/action.yml
Labels: bug

#471 docs: fixing links and removing empty table
  branch-name-style/action.yml
  commit-style/action.yml
  doc/source/style-actions/index.rst
Labels: documentation

#473 feat: enable validate-build option to build-library action
  build-library/action.yml
  doc/source/migrations/index.rst
  doc/styles/.gitignore
Labels: enhancement

#470 fix: fail doc-style action when wrong Vale config is present
  doc-style/action.yml
Labels: bug

#474 fix: vale check
  doc-style/action.yml
Labels: bug
