Repository ansys/actions, pull requests merged in 2025-05, with the labels that each got.

#800 fix: ci_cd_release action
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/800.fixed.md
Labels: ci, fix

#806 fix(vulnerabilities): remove marshmallow dependency limit
  check-vulnerabilities/requirements.txt
  doc/source/changelog/806.fixed.md
Labels: fix

#807 fix(wheelhouse): allow to specify working directory
  build-wheelhouse/action.yml
  doc/source/changelog/807.fixed.md
Labels: fix

#754 feat: uv as default package manager
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  _release-pypi/action.yml
  _setup-python/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  check-licenses/action.yml
  check-vulnerabilities/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-changelog/action.yml
  doc-deploy-changelog/action.yml
  doc-style/action.yml
  doc/source/changelog/754.added.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
  hk-package-clean-except/action.yml
  hk-package-clean-untagged/action.yml
  release-github/action.yml
  tests-pytest/action.yml
Labels: enhancement, ci

#808 fix: uv in actions without venv creation
  _release-pypi/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  check-licenses/action.yml
  doc-changelog/action.yml
  hk-package-clean-except/action.yml
  hk-package-clean-untagged/action.yml
  release-github/action.yml
Labels: fix

#805 fix(wheelhouse): install from poetry.lock if present
  build-wheelhouse/action.yml
  doc/source/changelog/805.fixed.md
Labels: fix

#799 feat: pr documentation deployment and cleanup
  _doc-gen-robots/action.yml
  _pr-doc-clean/action.yml
  _pr-doc-deployment/action.yml
  doc-deploy-pr/action.yml
  doc/source/changelog/799.added.md
  doc/source/doc-actions/examples/doc-deploy-pr.yml
  doc/source/doc-actions/index.rst
Labels: enhancement, ci, docs

#820 feat(build-library): allow to specify working-directory
  build-library/action.yml
  doc/source/changelog/820.added.md
Labels: enhancement

#794 feat: add compatibility with dependency groups
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  doc-changelog/action.yml
  doc-deploy-changelog/action.yml
  doc-style/action.yml
  doc/source/changelog/794.added.md
  python-utils/parse_pr_title.py
  release-github/action.yml
  tests-pytest/action.yml
Labels: enhancement, ci

#823 feat: option for maximum number of pr doc deployment
  _pr-doc-deployment/action.yml
  doc-deploy-pr/action.yml
  doc/source/changelog/823.added.md
  doc/source/doc-actions/examples/doc-deploy-pr.yml
Labels: enhancement

#802 ci: use ansys/actions/doc-deploy-pr
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci_cd_pr.yml
  doc/source/changelog/802.maintenance.md
  doc/source/index.rst
Labels: ci, docs, deploy-pr-doc

#818 fix(doc-build): remove JSON builds
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  doc-build/action.yml
  doc/source/changelog/818.fixed.md
  doc/source/migrations/index.rst
Labels: fix, docs

#826 fix: build wheelhouse with poetry
  build-wheelhouse/action.yml
  doc/source/changelog/826.fixed.md
Labels: fix

#837 feat: change branch naming in changelog action
  doc-deploy-changelog/action.yml
  doc/source/changelog/837.added.md
Labels: enhancement

#839 fix(_setup-python): update to latest version
  _setup-python/action.yml
  doc/source/changelog/839.fixed.md
Labels: fix

#833 feat: ensure matching and metadata version
  _setup-python/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  doc/source/changelog/833.added.md
Labels: enhancement

#840 fix: discovery of artifacts in release-github
  doc/source/changelog/840.fixed.md
  release-github/action.yml
Labels: fix

#832 fix: input parameter generate-release-notes in release-github
  doc/source/changelog/832.fixed.md
  release-github/action.yml
Labels: ci, fix

#834 feat: add SBOM to wheelhouse action
  build-wheelhouse/action.yml
  check-vulnerabilities/action.yml
  doc/source/changelog/834.added.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: enhancement, ci

#852 feat(doc-changelog): capitalize fragments
  doc/source/changelog/852.added.md
  python-utils/parse_pr_title.py
Labels: enhancement

#853 fix: check licenses logic alignment
  check-licenses/action.yml
  doc/source/changelog/853.fixed.md
Labels: fix

#838 feat: Support specification of ``bandit`` configuration file in check-vulnerabilities action
  check-vulnerabilities/action.yml
  doc/source/changelog/838.added.md
Labels: enhancement
