Repository ansys/actions, pull requests merged in 2025-04, with the labels that each got.

#756 fix: drop build and wheel packages
  build-wheelhouse/action.yml
  doc/source/changelog/756.fixed.md
Labels: fix

#751 ci: refactor logic for PRs opened by dependabot
  .github/workflows/ci_cd_pr.yml
  doc/source/changelog/751.maintenance.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: ci

#763 fix: use trusted publishers from PyPA action
  .ci/ansys-actions/pyproject.toml
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  VERSION
  doc/source/changelog/763.fixed.md
Labels: ci, fix

#762 fix: optional build and wheel installation
  build-wheelhouse/action.yml
  doc/source/changelog/762.fixed.md
Labels: fix

#764 fix: github-ref
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/764.fixed.md
Labels: ci, fix

#766 fix: tag check
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/766.fixed.md
Labels: ci, fix

#769 docs: fix link
  doc/source/changelog/769.documentation.md
  doc/source/migrations/index.rst
Labels: fix, docs

#774 ci: rewrite dependabot checks
  .github/workflows/ci_cd_pr.yml
  doc/source/changelog/774.maintenance.md
Labels: ci, fix

#780 chore: add upper bound on marshmallow
  check-vulnerabilities/requirements.txt
  doc/source/changelog/780.maintenance.md
Labels: fix

#776 feat: check environment approval
  .github/workflows/ci_cd_pr.yml
  check-environment-approval/action.yml
  doc/source/changelog/776.added.md
  doc/source/vulnerability-actions/examples/check-environment-approval.yml
  doc/source/vulnerability-actions/index.rst
Labels: enhancement, ci, docs

#782 fix: skip installation on doc-deploy-changelog
  doc-deploy-changelog/action.yml
  doc/source/changelog/782.fixed.md
Labels: fix

#783 fix: add package key in towncrier.toml
  doc-deploy-changelog/action.yml
  doc/source/changelog/783.fixed.md
  towncrier.toml
Labels: fix

#784 fix: Add newline between environment variables in Python
  doc-deploy-changelog/action.yml
  doc/source/changelog/784.fixed.md
Labels: fix

#791 fix: pin quarto version
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  doc/source/changelog/791.fixed.md
Labels: fix
