Repository ansys/actions, pull requests merged in 2025-06, with the labels that each got.

#860 feat: Prepend link to migration guide in GitHub release notes
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/860.added.md
Labels: enhancement, ci

#875 fix: smoke test for poetry projects in editable mode
  build-wheelhouse/smoke_test.py
  doc/source/changelog/875.fixed.md
Labels: fix

#880 fix: missing environment variable on PyPI releasing
  _release-pypi/action.yml
  doc/source/changelog/880.fixed.md
Labels: fix

#884 fix: missing skip-existing command handling
  _release-pypi/action.yml
  doc/source/changelog/884.fixed.md
Labels: fix

#883 fix(release-actions): raise warning if not using trusted publishers
  doc/source/changelog/883.fixed.md
  release-pypi-public/action.yml
  release-pypi-test/action.yml
Labels: fix

#879 docs: use bash shell for windows
  doc/source/changelog/879.documentation.md
  doc/source/migrations/index.rst
Labels: fix, docs

#888 fix: doc build on windows input issues
  _doc-build-windows/action.yml
  doc/source/changelog/888.fixed.md
Labels: fix

#890 fix: release-github artifacts attestation
  doc/source/changelog/890.fixed.md
  release-github/action.yml
Labels: fix

#896 docs(prerelease): document installation by uv
  doc/source/changelog/896.documentation.md
  doc/source/migrations/index.rst
Labels: docs

#900 fix(doc-build): wrong variable name for sphinx options
  _doc-build-linux/action.yml
  doc/source/changelog/900.fixed.md
Labels: fix

#908 feat: improving error message for smoke tests
  build-wheelhouse/smoke_test.py
  doc/source/changelog/908.added.md
Labels: enhancement
