Repository ansys/actions, pull requests merged in 2025-08, with the labels that each got.

#943 fix: correct deleted branch references
  doc-build/action.yml
  doc-deploy-pr/action.yml
  doc/source/changelog/943.fixed.md
Labels: fix

#948 fix: remove unnecessary tag and date from release notes
  doc/source/changelog/948.fixed.md
  python-utils/release_github_utils.py
Labels: enhancement

#947 ci: update ci_cd_night workflow
  .github/workflows/ci_cd_night.yml
  doc/source/changelog/947.maintenance.md
Labels: ci

#951 fix: dependabot security alert
  .ci/ansys-actions-flit/pyproject.toml
  .ci/ansys-actions-poetry/poetry.lock
  .ci/ansys-actions-poetry/pyproject.toml
  doc/source/changelog/951.fixed.md
Labels: fix

#960 ci: ensure manual approval on pr workflows
  .github/workflows/ci_cd_pr_flit.yml
  .github/workflows/ci_cd_pr_poetry.yml
  doc/source/changelog/960.maintenance.md
Labels: ci, fix
