Repository ansys/actions, pull requests merged in 2025-09, with the labels that each got.

#969 fix: correct ci_cd_pr.yml configuration
  .github/workflows/ci_cd_pr.yml
  doc/source/changelog/969.fixed.md
Labels: ci, fix

#983 fix: Pin twine to <6.2.0 and bump pypa action
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr_flit.yml
  .github/workflows/ci_cd_pr_poetry.yml
  .github/workflows/ci_cd_release.yml
  _release-pypi/action.yml
  doc/source/changelog/983.fixed.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: ci, fix

#968 feat: improve check actions security
  check-actions-security/action.yml
  doc/source/changelog/968.added.md
  doc/source/vulnerability-actions/index.rst
  python-utils/zizmor-summary.py
Labels: enhancement, docs

#992 docs: update zizmor documentation
  doc/source/changelog/992.documentation.md
  doc/source/vulnerability-actions/index.rst
Labels: docs

#1003 docs: improve migration guide
  doc/source/changelog/1003.documentation.md
  doc/source/migrations/index.rst
Labels: docs, deploy-pr-doc

#1012 fix: GitHub command-line tool command in ansys/release-github
  doc/source/changelog/1012.fixed.md
  release-github/action.yml
Labels: fix
