Repository ansys/actions, pull requests merged in 2025-02, with the labels that each got.

#683 feat: Add option to randomize test execution order
  tests-pytest/action.yml
Labels: enhancement

#676 feat: changelog template
  doc-changelog/action.yml
  doc/source/migrations/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  python-utils/default_template.jinja
  python-utils/parse_pr_title.py
Labels: enhancement, docs

#688 ci: update fake repo build system version
  .ci/ansys-actions/pyproject.toml
Labels: fix

#679 feat: add provenance attestation
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  release-github/action.yml
Labels: enhancement, ci

#700 fix: whitespace control in changelog template
  python-utils/default_template.jinja
Labels: fix

#704 feat: add logging into workflow summary
  _logging/action.yml
Labels: enhancement, ci

#706 fix: if statement condition in logging
  _logging/action.yml
Labels: fix

#701 ci: split workflows
  .ci/ansys-actions/pyproject.toml
  .github/workflows/ci_cd_main.yml
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  LICENSE
  VERSION
Labels: ci, code-style

#708 docs: fix CICD badge in README
  README.md
Labels: fix, docs
