Repository ansys/actions, pull requests merged in 2025-03, with the labels that each got.

#699 docs: setup changelog
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  CHANGELOG.md
  README.md
  doc-changelog/action.yml
  doc/source/changelog.rst
  doc/source/changelog/699.documentation.md
  doc/source/changelog/template
  doc/source/index.rst
  python-utils/parse_pr_title.py
  towncrier.toml
Labels: ci, docs

#711 ci: nightly deployment does not have the CNAME
  .github/workflows/ci_cd_night.yml
  doc/source/changelog/711.maintenance.md
Labels: ci, fix

#707 refactor: warn about release pypi deprecation and encourage to use trusted publisher
  _release-pypi/action.yml
  doc/source/changelog/707.miscellaneous.md
  doc/source/index.rst
  doc/source/migrations/index.rst
  doc/source/migrations/release-pypi-trusted-publisher.rst
  doc/source/release-actions/examples/release-pypi-public-using-trusted-publisher.yml
  doc/source/release-actions/index.rst
  release-pypi-private/action.yml
  release-pypi-public/action.yml
  release-pypi-test/action.yml
Labels: docs

#713 docs: change migration guide version to v8.2
  doc/source/changelog/713.documentation.md
  doc/source/migrations/index.rst
Labels: docs

#714 fix(ci): syntax
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/714.fixed.md
Labels: ci, fix

#715 fix(changelog): avoids installing project and provides support for non-python projects
  .github/workflows/ci_cd_release.yml
  doc-changelog/action.yml
  doc-deploy-changelog/action.yml
  doc/source/changelog/715.fixed.md
Labels: ci, fix

#716 fix: rolling release job
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/716.fixed.md
Labels: ci, fix

#717 fix(doc): major variable
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/717.fixed.md
Labels: ci, fix

#718 docs: extend v8.2 new features notes
  doc/source/changelog/718.documentation.md
  doc/source/migrations/index.rst
Labels: enhancement, docs

#720 fix(release): tags
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/720.fixed.md
Labels: ci, fix

#723 fix: install for Python libraries
  doc-deploy-changelog/action.yml
  doc/source/changelog/723.fixed.md
Labels: fix

#727 ci(release): fix github variable
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/727.maintenance.md
Labels: ci, fix

#732 fix: release-github body
  doc/source/changelog/732.fixed.md
  python-utils/release_github_utils.py
  release-github/action.yml
Labels: fix

#737 docs: fix vale warning on CLI term
  doc/source/changelog/737.documentation.md
  doc/source/migrations/index.rst
  release-github/action.yml
Labels: fix, docs

#740 docs: add documentation on automerge action
  doc/source/changelog/740.documentation.md
  doc/source/migrations/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: docs

#742 fix: sanity check on inputs for release-github action
  doc/source/changelog/742.fixed.md
  release-github/action.yml
Labels: fix

#739 refactor: use full length commit SHA instead of tags for external github actions
  .github/dependabot.yml
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  _doc-build-linux/action.yml
  _doc-build-windows/action.yml
  _release-pypi/action.yml
  _setup-python/action.yml
  build-ci-wheels/action.yml
  build-library/action.yml
  build-wheelhouse/action.yml
  check-licenses/action.yml
  check-pr-title/action.yml
  check-vulnerabilities/action.yml
  code-style/action.yml
  doc-build/action.yml
  doc-changelog/action.yml
  doc-deploy-changelog/action.yml
  doc-deploy-dev/action.yml
  doc-deploy-stable/action.yml
  doc-style/action.yml
  doc/source/changelog/737.documentation.md
  doc/source/changelog/739.miscellaneous.md
  doc/source/migrations/release-pypi-trusted-publisher.rst
  doc/source/tests-actions/examples/tests-pytest-optimized.yml
  docker-style/action.yml
  hk-automerge-prs/action.yml
  release-github/action.yml
  tests-pytest/action.yml
Labels: ci, docs

#750 ci: changelog action should depend on rolling release
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/750.maintenance.md
Labels: ci
